[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py2neo = "*"
tqdm = "*"
requests = "*"
openai = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
